# ignore the folder named "Data" ( git ignore file)
# ignore the folder named "Data" and all its contents

Data/
data_new/
node_modules/
uploads/
embeddings_newdbscan_jitter1_final/
embeddings_newdbscan_jitter1_final
/home/darshan/college/SEM_6/AI/AI_Proj/embeddings_newdbscan_jitter1_final/